* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	display: inline-grid;
	width: 100%;
	grid-template: 25% 25% 25% 25% / 25% 25% 25% 25%;
	background-color: blue;
	grid-template-areas:
		"menu hbar hbar hbar "
		"menu content content content "
		"menu content content content"
		"menu content content content"
		"menu content content content"
}

.room {
	text-align: center;
}

#hbar {
	grid-area: hbar;
	background-color: white;
}


#menu {
	grid-area: menu;
	background-color: blue;
}

#content {
	grid-area: content;
	background-color: lightgray;
}
